[submodule "mozilla-ca"]
	path = mozilla-ca
	url = https://github.com/Chia-Network/mozilla-ca.git
	branch = main
[submodule "xxch-blockchain-gui"]
	path = xxch-blockchain-gui
	url = https://github.com/ChiaX-Network/xxch-blockchain-gui.git
	branch = main
