[submodule "chiax-blockchain-gui"]
	path = chiax-blockchain-gui
	url = https://github.com/ChiaX-Network/chiax-blockchain-gui.git
	branch = main
[submodule "mozilla-ca"]
	path = mozilla-ca
	url = https://github.com/Chia-Network/mozilla-ca.git
	branch = main
